/* styles.css */
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#bar {  
    box-sizing: border-box;
    height: 100%;
    background-color:#000000BB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.dropzone {
    border:2px dashed #ddd;
}

#time {
    font-size:12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    bottom:1rem;
    color:white;
    opacity:0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#bar:hover #time {
    opacity:1;
}

#cue {
    color:white;
    font-size:26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}